html, body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a2e;
}

h1 {
  font-weight: bolder;
  color: black;
  font-size: 2.25em;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
}

#login-form {
  margin: 10% 10%;
  padding: 5% 5%;
  background-color: white;
  border-radius: 12px;
  padding-left: 0;
}

.left-form {
  margin-right: 0;
}

.right-form {
  padding: 0 5%;
  border-left-style: solid;
  border-left-width: .5px;
  border-left-color: #f0f0f0;
}

.brand-container {
  text-align: left;
  margin-bottom: 10%;
  padding-top: 5%;
}

.brand-logo {
  width: 20%;
  margin-left: 20%;
}

.img-container {
  padding-left: 20%;
}

.form-name {
  margin-top: 1.5rem;
  padding: 0;
}

.input-form {
  width: 95%;
  border-radius: 12px;
  transition: all 0.5s;
  background-color: #f0f0f0;
  border-width: 0;
  padding: 3% 4%;
}



.input-form:focus {
  padding: 4% 6%;
  outline: none;
}

.option {
  width: 100%;
  margin-top: 1rem;
}

.right {
  text-align: right;
}

.login-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
  width: 100%;
  margin: auto auto;
}

.login-btn:hover {
  transform: translateY(-4px)
}

.login-btn i {
  float:left;
  margin: 4px 0  0 5px;
}

.center {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}

.or {
  margin: 0;
  padding: 0;
}

#button-show{
  background-color: #f0f0f0;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius:12px;
}

#button-show:focus {
  box-shadow: none;
}

.form-control:focus{
  box-shadow: none;
  border:none;
  outline: none;
  background-color: #f0f0f0;
}
