html, body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bolder;
  color: white;
  font-size: 2.25em;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
}

hr {
  margin: 0 auto;
  width: 10%;
  border-top:solid;
  border-top-width: 12px;
  border-color: #fdca40;
  opacity: 1;
}

p {
  font-size: 1.1rem;
}

/* INDEX.HTML */

#main-navbar {
  background-color: #1a1a2e;
  padding: .5% 5%;
  position: relative;
  z-index: 2
}

.navbar-brand {
  width: 20%;
}

.logo-brand {
  width: 50%;
}

.nav-item {
  margin:4px 10px;
}

.nav-btn {
  padding: 4px 20px;
}

#header {
  padding: 0 5%;
  background-color: #1a1a2e;
}

.punchline {
  padding-top: 20%;
  margin-bottom: 3rem;
}

#header p {
  color: white;
}

.header-img {
  position: relative;
  width: 52rem;
  right: 5%;
  top: -10%;

}

.header-btn {
  margin-right: 32px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
}

.header-btn:hover {
  transform: translateY(-4px)
}

#featured {
  color:white;
  text-align: center;
}

#featured h2 {
  color: black;
}

.featured-page {
  padding: 5% 7%;
}

.featured-page p {
  padding: 2.5% 25%;
  color: black;
}

.featured-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
}

.featured-btn:hover {
  transform: translateY(-4px)
}

.gallery {
  padding: 5% 0;
}

.gallery-cell {
  background-color: #f0f0f0;
  border-radius: 12px;
  width: 20rem;
  margin: 5% 3%;
  height: 25rem;
  overflow: hidden;
  transition: transform 0.5s;

}

.gallery-cell:hover {
  transform: translateY(-4px);
}

.gallery-cell p,h3 {
  padding: 0 5%;
  text-align: left;
}

.gallery-cell p {
  color: gray;
  margin-bottom: 0;
  font-size: 1.1rem;
  position: relative;
  bottom: 4px;
}

.gallery-cell h3 {
  margin-bottom: 24px;
  height: 3rem;
}

.card-img {
  width: 100%;
  height: 12.5rem;
}

.card-body {
  padding-top: 8%;
  text-align: left;
}

.card-price {
  font-weight: bold;
}

.card-btn {
  font-weight: bold;
  margin-left: 5%;
}

.card-btn:hover {
  color: #198754;
}

.featured-to {
  background-color: white;
}

.featured-courses {
  background-color: white;
}

#why-us {
  padding: 5% 5%;
  text-align: center;
}

#why-us hr{
  margin-bottom: 5%;
}

#why-us h3 {
  text-align: center;
}

#why-us .row {
  padding: 5% 0;
}


.why-us-container {
  text-align: center;
  padding: 0 5%;
}

.why-us-container .fas{
  color: #5eaaa8;
  margin-bottom: 5%;
}

#product-to{
  padding: 0 5%;
  background-color: white;
}

#product-to h2,p {
  color: black;
}

.product-img {
  width: 100%;
}

.product-img-container {
  padding: 0 5%;

  text-align: center;

}

.product-desc-container {
  color: black;
  text-align: left;
  padding: 5% 5%;



}

.product-desc-container hr{
  margin: 0;
  padding: 0;
  width: 40%;
  margin-bottom: 5%;

}

.product-title {
  text-align: left;
  font-weight: bolder;
}

.product-btn {
  margin-top: 2.5%;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
}


.product-btn:hover {
  transform: translateY(-4px)
}

#product-course {
  padding: 0 5%;
  background-color: white;
}

#testimonials {
  padding: 10% 5%;
  text-align: center;
}

#testimonials hr {
  margin-bottom: 5%;
}

#testimonials .gallery {
  padding-bottom: 0;
}

.testi-cell {
  background-color: white;
  width: 40rem;
  margin: 0 12%;
  height: 18rem;
  overflow: hidden;
  transition: transform 0.5s;
  padding: 0 3%;
  text-align: left;
}

.testi-name {
  color:black;
  padding: 0 3%;
}

.testi-info {
  color: gray;
  padding: 0 3%;
  margin-bottom:4px;
}

.testi-cell hr {
  width: 50%;
  margin:0;
  padding:0;
  border-top-width: thick;
  margin-left: 3%;
}

.testi-text {
  color: white;
  padding: 3% 3%;
  overflow-y: scroll;
}

#our-partners{
  background-color:white;
  padding: 5% 5%;
  padding-bottom: 3%;
  color: black;
}

.partner-cell {
  width: 20rem;
  height: 20rem
}

.partner-row {
  margin: 10% 3%;
  text-align: center;
}

.partner-logo {
  width: 60%;
  margin-top : 15%;
}

.partner-logo-1,.partner-logo-5 {
  margin-top: 35%;
  height: 5rem;
  width: 75%;
}

.partner-logo-2 {
  margin-top: 25% ;
}

#our-experts {
  padding: 5% 5%;
  text-align: center;
}

#our-experts hr {
  margin-bottom: 0;
}

.expert-cell {

  margin: 3% 0;
  transition: transform 0.5s;
  text-align: center;
  color: black;

}

.expert-img {
  width: 75%;
}

.expert-name {
  text-align: center;
}

.expert-info {
  margin : 0;
}

.flag-icon {
  width: 2rem;
  border: solid;
  border-color: #f0f0f0;
  border-width: 2px;


}

.expert-top {
  margin-bottom: 10%;
}

.expert-bottom {
  padding: 0 5%;
}

.expert-top hr {
  margin-top:4px;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  color: black;
  background-image: none;
}

.experts-comment {
  padding:2% 8%;
}

#sdg {
  padding: 5% 5%;
  padding-bottom: 8%;
}

#sdg .center {
  padding-left: 5%;
}

.sdg-logo {
  width: 60%;
}

.sdg-left {
  text-align: right;
}

#sdg hr {
  margin-bottom: 10%;
}

.v-separator {
  display: inline;
  width: 1px;
  background-color: #f0f0f0;
  padding: 0;
}

.center {
  text-align: center;
}

.sdg-container {
  padding: 0;
}

.sdg-goals {
  padding-top: 1%;
}

.site-footer
{
  background-color:#1a1a2e;
  padding: 3% 5% 2%;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-width: 1px;
  border-color: gray;
  width: 100%;
  margin: 2% 0;

}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.site-footer p{
  color:white;
  font-size: 16px;
}
.who-is-ask {
  padding-right :15%;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.instagram:hover
{
  background-color:#3b5998
}
.social-icons a.linkedin:hover
{
  background-color:#00aced
}
.social-icons a.telegram:hover
{
  background-color:#007bb6
}
.social-icons a.whatsapp:hover
{
  background-color:green;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
